# vim working files
*.swp

# Build folder
build/

# cmake artifacts
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# build files
Makefile
*.sln
*.vcxproj
*.filters
*.user
*.vcproj
*.vproj
*.xproj
*.xml
*.json
*.ninja
.ninja_*
*.kde*
*.cbp

# IDE folders/files
.idea/
.vs/
Debug/
Release/
.project/
.cproject/
*.VC.VC.opendb
*.VC.db

# Build artifacts
*.o
*.exe
*.log
*.pdb
*.a
*.lib
nesting

